<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jishuqin.backend.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="cn.jishuqin.common.model.entity.User">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userName" column="userName" jdbcType="VARCHAR"/>
        <result property="userAccount" column="userAccount" jdbcType="VARCHAR"/>
        <result property="userAvatar" column="userAvatar" jdbcType="VARCHAR"/>
        <result property="gender" column="gender" jdbcType="TINYINT"/>
        <result property="userRole" column="userRole" jdbcType="VARCHAR"/>
        <result property="userPassword" column="userPassword" jdbcType="VARCHAR"/>
        <result property="accessKey" column="accessKey" jdbcType="VARCHAR"/>
        <result property="secretKey" column="secretKey" jdbcType="VARCHAR"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userName,userAccount,
        userAvatar,gender,userRole,
        userPassword,accessKey,secretKey,createTime,updateTime,
        isDelete
    </sql>
    <select id="getUserList" resultType="cn.jishuqin.common.model.vo.EchartsVo">
        SELECT
        COUNT(*) as count ,
        DATE_FORMAT(createTime,'%Y-%m-%d') as date
        FROM `user`
        WHERE isDelete=0
        AND DATE_FORMAT(createTime, '%Y-%m-%d') IN
        <foreach collection="dateList" item="dateList" separator="," open="(" close=")">
            #{dateList}
        </foreach>
        GROUP BY
        DATE_FORMAT(createTime, '%Y-%m-%d')
        ORDER BY
        DATE_FORMAT(createTime, '%Y-%m-%d') DESC;
    </select>
    <select id="getUserPhone" resultType="java.lang.String">
        SELECT userPhone FROM `user` WHERE userAccount = #{username} OR userPhone = #{username} AND isDelete = 0
    </select>
</mapper>
